$grid-gutter-width: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 414px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$container-max-widths: (
  xs: 382px,
  // ≥0px
  sm: 672px,
  // ≥414px
  md: 720px,
  // ≥768px
  lg: 976px,
  // ≥1024px
  xl: 1140px,
  // ≥1200px
);

$spacer: 2px;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 4,
  4: $spacer * 8,
  5: $spacer * 16,
);

$white: #ffffff;
$gray-100: #f9f9f9;
$gray-200: #f1f1f1;
$gray-300: #eeeeee;
$gray-400: #909090;
$gray-900: #4f4f4f;
$blue: #5d7bb2;

$primary: $blue;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// MOLECULES
body {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: "Inter";
  background-color: $white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 5); // 32px between elements in a container
}

.card {
  padding: 16px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $gray-300;
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 4); // 16px between elements in a card
}

.header-group {
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 4); // 16px between elements in a header group
}

.controls {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  gap: map-get($spacers, 3); // 8px between elements in a button group
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 2); // 8px
}

.link-group {
  display: flex;
  gap: map-get($spacers, 4); // 16px
  padding-left: 0;
  list-style: none;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 4); // 16px
}

// ATOMS

// DIVIDER
.divider {
  border-bottom: 1px solid $gray-300;
}

// IMAGE
img {
  width: 100%;
  border-radius: 8px;
}

img.hidden {
  display: none;
}

// LIST
ul {
  padding-left: 24px;
  margin: 0;
}

// LINK
a {
  font-size: 14px;
  line-height: 22px;
  color: $blue;
  align-self: flex-start;
  text-decoration: underline;
}

a:hover {
  color: $blue;
  text-decoration: none;
}

// TEXT

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: $gray-400;
}

h2 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $gray-400;
}

h3 {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $gray-400;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

p.emphasized {
  font-size: 16px;
  line-height: 24px;
}

// ICON

.icon-s {
  width: 16px;
  height: 16px;
}

.icon-m {
  width: 20px;
  height: 20px;
}

.icon-l {
  width: 32px;
  height: 32px;
}

// BUTTON
button {
  font-family: "Inter";
  font-size: 12px;
  line-height: 16px;
  color: $gray-900;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $gray-300;
  padding: 8px 16px;
  align-self: start;
}

button:hover {
  background-color: $gray-100;
}

button.active {
  background-color: $gray-300;
}
